.articles{
  width: 10vw !important;
  vertical-align: top !important;

}

.updates{
  width: 35vw !important;
  vertical-align: top !important;
}

.newsBody{
 margin: 0 8vw;
}
.tableUpdates{
  width: 20vw !important;
  vertical-align: top !important;
}

.updateTitle{
  font-weight: bold;
  font-family: "Times New Roman";
}
.updateContent{
  font-family: "Times New Roman";
}

tr{
  vertical-align:top;
  padding-top:25px
  /* display:block; */
  /* position:relative; */
}
